/* AdminDashboard.css */
body {
    background-color: #FFF5E8 !important;
    font-family: 'Poppins', sans-serif;
}

.admin-dashboard {
    background-color: #FFF5E8;
    min-height: 100vh;
    padding-top: 80px; /* Ajuste para prevenir superposición con el encabezado */
}

.admin-dashboard h1 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    margin-bottom: 20px;
}

.admin-dashboard .card {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.admin-dashboard .card:hover {
    transform: translateY(-10px);
}

.admin-dashboard .btn {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.admin-dashboard .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos específicos para botones */
.admin-dashboard .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.admin-dashboard .btn-primary,
.admin-dashboard .btn-secondary,
.admin-dashboard .btn-info {
    background-color: #007bff;
    border-color: #007bff;
}

.admin-dashboard .btn-primary:hover,
.admin-dashboard .btn-secondary:hover,
.admin-dashboard .btn-info:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}