.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Resta la altura del header */
  background-color: #fffbeb; /* Fondo claro */
  padding-top: 60px; /* Añade padding superior */
  box-sizing: border-box; /* Incluye padding en el cálculo total */
}

.register-form {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

h1 {
  text-align: center; /* Centra el título */
  margin-bottom: 20px; /* Espacio debajo del título */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fde7b6;
  color: #0e0b08;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .register-container {
    padding-top: 80px; /* Más espacio en móviles */
    min-height: calc(100vh - 80px);
  }

  .register-form {
    width: 90%; /* Hace el formulario más responsivo */
    max-width: 350px;
  }
}