.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Color del fondo */
    padding: 10px 20px;
}

.logo-img {
    width: 70px;
    height: auto;
}

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacio entre los enlaces */
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.nav-links li a:hover {
    background-color: #575757;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}